.product-container {
    width: 386px;
    height: 444px;
    cursor: pointer;
}

.product-container.selected {
    box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);
}

.productImage-size {
    width: 354px;
    height: 330px;    
}

.out-of-stock {
    width: 173px;
    height: 39px;
    font-size: 24px;
    font-weight: 400;
    color: #8D8F9A;
}

.bg-out {
    background-color: #FFFFFF;
    opacity: 0.5;
}

.icon {
    width: 52px;
    height: 52px;
    background-color: #5ECE7B;
    border-radius: 50%;
    bottom: -26px;
    right: -26px;
    right: 5%;
}

.product-title {
    font-size: 18px;
    font-weight: 300;
    line-height: 28.8px;
}

.product-price {
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px; 
}

.product-card {
    transition: all 0.3s ease;
    cursor: pointer;
}



div .cart {
    width: 24px;
    height: 24px;
}

@media (max-width: 575px) {
    .product-container {
        width: 100%;
    }
}