@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    color: #1D1F22;
    font-family: 'Raleway', sans-serif;
}

.description p {
    font-family:'Roboto', sans-serif;
}

.carousel-btn > svg{
    color: white !important;
}