header {
  height: 80px;
}

.navbar {
  height: 80px;
}

.navbar-nav {
  margin-left: 90px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
  color: #1D1F22;
  transition: color 0.3s ease;
  text-align: center;
  padding: 0 1rem;
}

.nav-link.active-item {
  color: #5ECE7B;
}

.active-underline {
  bottom: 0;
  height: 2px;
  background-color: #5ECE7B;
  transition: all 0.3s ease-in-out;
}


.container {
  padding-left: 15px;
  padding-right: 15px;
}

.shopping-cart{
  margin-right: 100px;
}

@media (max-width: 991px) {
  .navbar-nav {
    margin: 0;
  }

  .nav-link {
    margin: 5px 0;
  }

  .mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .active-underline.hide {
    opacity: 0;
    transform: translateY(5px);
  }
  
  .active-underline.show {
    opacity: 1;
    transform: translateY(0);
  }

  .shopping-cart{
    margin-right: 20px;
  }

}